.website-background-black {
	background: #000000;
}

.website-background-white {
	background: #ffffff;
}

h1 {
	font-family:'Semibold';
	position: fixed;
	line-height: 110%;
	letter-spacing: -2px;
    font-size: 3.2em; 
    font-size: 18vm; 
    font-size: 18vmin;
}

h2 {
	font-family:'Semibold';
	line-height: 140%;
	font-size: 100px;
    font-size: 2.222em;
}

h3 {
	font-family:'Medium';
	line-height: 120%;
	font-size: 64px;
	/* font-size: 1.780em; */
}

h4 {
	font-family:'Semibold';	
	line-height: 140%;
	font-size: 48px;
	font-size: 40px;
	margin: 16vh 0 4vh 0;
	margin: 24vh 0 4vh 0;
}

p {
	line-height: 170%;
	font-family:'Regular';
	font-size: 18px;
	margin-bottom: 3vh;
}

p.size-small {
	font-family: "Medium";
	font-size: 16px;
	margin-bottom: 0;
}

.size-medium {
	line-height: 180%;
	font-size: 20px;
}

.size-large {
	line-height: 160%;
	font-size: 24px;
	margin-bottom: 4vh;
}


.text-color-white {
	color: #ffffff;
}
.text-color-red {
	color: #ea0f1e;
}
.text-color-black {
	color: #000000;
}
.text-color-gray {
	color: #888888;
}

.vertical-center {
	position: absolute;
	height: 100%;
	display: -webkit-flex; /* Safari */
	display: flex;  
	-webkit-align-items: center; /* Safari */
	align-items:   center;
}

.hide-text-block {
	position: relative;
	display: block;
	overflow: hidden;
}

.max-width {
	max-width: 68%;
	max-width: 21.5em;
	margin: 0 auto;
}

.max-width-left-70 {	
	max-width: 70%;
}

.block-image-overflow {
    width: 100%;
    overflow: hidden;
}

/*  Foto */

.foto{	
	z-index: -9;	
	position: fixed;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 45%;
	background-image: url(../img/marco.JPG);
	background-repeat: no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
	
	 -webkit-animation:foto 1.2s cubic-bezier(.5, .6, .6, 1);
	 -moz-animation:foto 1.2s cubic-bezier(.5, .6, .6, 1);
	 animation:foto 1.2s cubic-bezier(.5, .6, .6, 1);	
	 -webkit-animation-fill-mode:backwards;
	 -moz-animation-fill-mode:backwards;
	 animation-fill-mode:backwards;
}

/* boton */

.logo {
	float: right;
}
.logo-inner {
	position: fixed;
	top: 10%;
	z-index: 999;
}

.top-bottom-margin {
	margin: 40vh 0 20vh 0;
	margin: 35vh 0 20vh 0;
	margin: 35vh 0 30vh 0;
} 
	
.label-logo:after { 
	font-family:"Semibold";
	font-size: 20px;
    content:"Marco.";
}
.label-logo:hover:after{
	content:"Marco.works";
	white-space: nowrap;
}
		
.label-logo{
	-webkit-animation:fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-moz-animation:fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	animation:fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-webkit-animation-fill-mode:backwards;
	-moz-animation-fill-mode:backwards;
	animation-fill-mode:backwards;	
}

.on-hover-40, .on-hover--40 {
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.on-hover-40:hover {
	margin-left: 40px;
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
}
.on-hover--40:hover {
	margin-left: -40px;
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
}

.work-block {
	margin: 12vh 0;
}


